@model List<DataIntegrationHub.Business.Entities.Plan>
@{
    var plans = Model;
    var investment = 20.0m / plans.Count * 100;
    var vendor = 25.0m / plans.Count * 100;
    var participant = 24.0m / plans.Count * 100;
}

<script type="text/javascript">
    function goal_OnClick(id) {
        window.location = "/Home/Plan?id=" + id;
    }
</script>

<div class="container">

    <div class="row" style="margin-bottom:15px;margin-top:15px;">
        <div class="row" style="margin:0;">
            <div class="col-md-4 col-sm-12">
                <div class="container" style="background-color:#0e2e47;color:white;text-align:center;">
                    <div class="col-xs-6" style="">
                        <h1>🏦</h1>
                        <h5>INVESTMENT</h5>
                    </div>
                    <div class="col-xs-6" style="">
                        <h1>@investment.ToString("F0")%</h1>
                        <h5>in top quartile</h5>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-12">
                <div class="container" style="background-color:rgb(194, 36, 38);color:white;text-align:center;">
                    <div class="col-xs-6" style="">
                        <h1>🏬</h1>
                        <h5>VENDOR</h5>
                    </div>
                    <div class="col-xs-6" style="">
                        <h1>@vendor.ToString("F0")%</h1>
                        <h5>in bottom quartile</h5>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 col-sm-12">
                <div class="container" style="background-color:rgb(0, 153, 51);color:white;text-align:center;">
                    <div class="col-xs-6" style="">
                        <h1>👨</h1>
                        <h5>PARTICIPANT</h5>
                    </div>
                    <div class="col-xs-6" style="">
                        <h1>@participant.ToString("F0")%</h1>
                        <h5>in top 35%</h5>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row" sstyle="margin-bottom:15px;">
        <div class="col-md-6 col-sm-12">
            <h2>
                <span>🚩</span>
                Yellow Plans
            </h2>
            <table class="data-table" style="background-color:#f1f442;">
                <tr class="data-table-header">
                    <td class="data-table-header-cell">Name</td>
                </tr>
                @foreach (var plan in plans.FindAll(x => x.Name.Contains("v")))
                {
                    <tr class="data-table-row" onclick="goal_OnClick('@plan.PlanId.ToString()')">
                        <td>@plan.Name</td>
                    </tr>
                }
            </table>
        </div>
        <div class="col-md-6 col-sm-12">
            <h2>
                <span>⚠️</span>
                Red Plans
            </h2>
            <table class="data-table" style="background-color:#da383c;color:white;">
                <tr class="data-table-header" style="color:black;">
                    <td class="data-table-header-cell">Name</td>
                </tr>
                @foreach (var plan in plans.FindAll(x => x.Name.Contains("v")))
                {
                    <tr class="data-table-row" onclick="goal_OnClick('@plan.PlanId.ToString()')">
                        <td>@plan.Name</td>
                    </tr>
                }
            </table>
        </div>
    </div>

</div>