@model List<PlanPerformance.Business.Entities.GoalMetric>
@{
    var goalMetrics = Model;
    var goals = PlanPerformance.Business.Entities.Goal.Get();
    var plans = DataIntegrationHub.Business.Entities.Plan.Get();
}

<script type="text/javascript">
    function new_OnClick() {
        window.location = "/Home/GoalMetric";
    }

    function goal_OnClick(id) {
        window.location = "/Home/GoalMetric?id=" + id;
    }
</script>

<div class="row" style="padding: 15px">

    <div style="padding-bottom:8px;float:left;width:100%;">
        <h1>Goal Metrics</h1>
    </div>

    <div style="padding-bottom:8px;float:left;width:100%;">
        <div style="float:left;">
            <button class="input-button" onclick="new_OnClick()">New</button>
        </div>
        <div style="float:right;">
            <span>Search:</span>
            <input type="text" />
        </div>
    </div>

    <table class="data-table">
        <tr class="data-table-header">
            <td class="data-table-header-cell">Goal</td>
            <td class="data-table-header-cell">Plan</td>
            <td class="data-table-header-cell">Industry</td>
            <td class="data-table-header-cell">Value</td>
            <td class="data-table-header-cell">Value As Of</td>
        </tr>
        @foreach (var goalMetric in goalMetrics)
        {
            <tr class="data-table-row" onclick="goal_OnClick('@goalMetric.Id.ToString()')">
                <td>@goals.Find(x => x.Id == goalMetric.GoalId).Name</td>
                @if (goalMetric.PlanId != Guid.Empty)
                {
                    <td>@plans.Find(x => x.PlanId == goalMetric.PlanId).Name</td>
                }
                else
                {
                    <td></td>
                }
                <td>@goalMetric.Industry</td>
                <td>@goalMetric.Value</td>
                <td>@goalMetric.ValueAsOf</td>
            </tr>
        }
    </table>
</div>