@model List<PlanPerformance.Business.Entities.Goal>
@{
    var goals = Model;
}

<script type="text/javascript">
    function new_OnClick() {
        window.location = "/Home/Goal";
    }

    function goal_OnClick(id) {
        window.location = "/Home/Goal?id=" + id;
    }
</script>

<div class="row" style="padding: 15px">

    <div style="padding-bottom:8px;float:left;width:100%;">
        <h1>Goals</h1>
    </div>

    <div style="padding-bottom:8px;float:left;width:100%;">
        <div style="float:left;">
            <button class="input-button" onclick="new_OnClick()">New</button>
        </div>
        <div style="float:right;">
            <span>Search:</span>
            <input type="text" />
        </div>
    </div>

    <table class="data-table">
        <tr class="data-table-header">
            <td class="data-table-header-cell">Name</td>
            <td class="data-table-header-cell">Type</td>
            <td class="data-table-header-cell">Team</td>
            <td class="data-table-header-cell">Frequency</td>
        </tr>
        @foreach (var goal in goals)
        {
            <tr class="data-table-row" onclick="goal_OnClick('@goal.Id.ToString()')">
                <td>@goal.Name</td>
                <td>@goal.Type</td>
                <td>@goal.Team</td>
                <td>@goal.Frequency</td>
            </tr>
        }
    </table>
</div>