@model Tuple<DataIntegrationHub.Business.Entities.Plan, PlanPerformance.Business.Entities.Plan>
@{
    var plan = Model.Item1;
    var planPPT = Model.Item2;
    var planMetrics = PlanPerformance.Business.Entities.PlanMetric.Get().FindAll(x => x.PlanId == plan.PlanId);
    var goals = PlanPerformance.Business.Entities.Goal.Get();
    var plans = DataIntegrationHub.Business.Entities.Plan.Get();
}

<script type="text/javascript">
    function newPlanMetric_OnClick(planId) {
        window.location = "/Home/PlanMetric?planId=" + planId;
    }

    function planMetric_OnClick(id, planId) {
        window.location = "/Home/PlanMetric?id=" + id + "&planId=" + planId;
    }
</script>

<div class="row" style="padding: 0px 15px">

    <div style="padding-bottom:8px;float:left;width:100%;">
        <h1>@plan.Name</h1>
    </div>

    <label class="input-label">Name</label>
    <input class="input-text" type="text" value="@plan.Name" disabled />
    <br />
    <label class="input-label">Type</label>
    <input class="input-text" type="text" value="@plan.Type" disabled />
    <br />
    <label class="input-label">Inception Date</label>
    <input class="input-text" type="text" value="@plan.InceptionDate" disabled />
    <br />
    <label class="input-label">Description</label>
    <input class="input-text" type="text" value="@plan.Description" disabled />

    <div style="padding-top:15px;" />

    @using (Html.BeginForm("SavePlan", "Home", FormMethod.Post, new { @style = "display:inline;" }))
    {
        @Html.Hidden("plan-existing-record", planPPT.ExistingRecord);
        @Html.Hidden("plan-id", planPPT.Id);
        <label class="input-label">Action Plan</label>
        @Html.TextArea("plan-action-plan", planPPT.ActionPlan, new { @class = "input-text" });

        <div style="padding-top:15px;" />

        <input class="input-button" type="submit" value="Save" />
    }

    @using (Html.BeginForm("Plans", "Home", FormMethod.Get, new { @style = "display:inline;" }))
    {
        <button class="input-button">Cancel</button>
    }
</div>

<div class="row" style="padding: 15px">

    <div style="padding-bottom:8px;float:left;width:100%;">
        <h3>Plan Metrics</h3>
    </div>

    <div style="padding-bottom:8px;float:left;width:100%;">
        <div style="float:left;">
            <button class="input-button" onclick="newPlanMetric_OnClick('@plan.PlanId')">New</button>
        </div>
        <div style="float:right;display:none">
            <span>Search:</span>
            <input type="text" />
        </div>
    </div>

    <table class="data-table">
        <tr class="data-table-header">
            <td class="data-table-header-cell">Goal</td>
            <td class="data-table-header-cell">Goal Metric</td>
            <td class="data-table-header-cell">Plan Metric</td>
            <td class="data-table-header-cell">Value As Of</td>
        </tr>
        @foreach (var planMetric in planMetrics.OrderByDescending(x => x.ValueAsOf))
        {
            <tr class="data-table-row" onclick="planMetric_OnClick('@planMetric.Id.ToString()','@plan.PlanId.ToString()')">
                <td>@goals.Find(x => x.Id == planMetric.GoalId).Name</td>
                @{ var goalMetric = planMetric.GetGoalMetric(); }
                @if (goalMetric != null)
                {
                    <td>@planMetric.GetGoalMetric().Value.ToString("F2")</td>
                }
                else
                {
                    <td>-</td>
                }
                <td>@planMetric.Value.ToString("F2")</td>
                <td>@planMetric.ValueAsOf.ToString("MM/dd/yyyy")</td>
            </tr>
        }
    </table>
</div>