@model PlanPerformance.Business.Entities.PlanMetric
@{
    var planMetric = Model;
    var goals = PlanPerformance.Business.Entities.Goal.Get().OrderBy(x => x.Name).ToList();
    var goalsSelectList = new List<SelectListItem>();
    foreach (var goal in goals)
    {
        var selectListItem = new SelectListItem();
        selectListItem.Value = goal.Id.ToString();
        selectListItem.Text = goal.Name;
        goalsSelectList.Add(selectListItem);
    }

    var plans = DataIntegrationHub.Business.Entities.Plan.Get().FindAll(x => x.IsManagedPlan).OrderBy(x => x.Name).ToList();
    var plansSelectList = new List<SelectListItem>();
    foreach (var plan in plans)
    {
        var selectListItem = new SelectListItem();
        selectListItem.Value = plan.PlanId.ToString();
        selectListItem.Text = plan.Name;
        plansSelectList.Add(selectListItem);
    }
}

<div class="row" style="padding: 0px 15px">

    <div style="padding-bottom:8px;float:left;width:100%;">
        @if (planMetric.ExistingRecord == false)
        {
            <h1>New Plan Metric</h1>
        }
        else
        {
            <h1>Existing Plan Metric</h1>
        }
    </div>

    @using (Html.BeginForm("SavePlanMetric", "Home", FormMethod.Post, new { @style = "display:inline;" }))
    {
        @Html.Hidden("plan-metric-existing-record", planMetric.ExistingRecord);
        @Html.Hidden("plan-metric-id", planMetric.Id);
        <label class="input-label">Goal</label>
        @Html.DropDownList("plan-metric-goalid", new SelectList(goalsSelectList, "Value", "Text", planMetric.GoalId), new { @class = "input-drop-down-list" });
        <br />
        <label class="input-label">Plan</label>
        @Html.DropDownList("plan-metric-planid", new SelectList(plansSelectList, "Value", "Text", planMetric.PlanId), new { @class = "input-drop-down-list" });
        <br />
        <label class="input-label">Value</label>
        @Html.TextBox("plan-metric-value", planMetric.Value.ToString("#,##0.00"), new { @class = "input-text" });
        <br />
        <label class="input-label">Value As Of</label>
        @Html.TextBox("plan-metric-value-as-of", planMetric.ValueAsOf.ToString("MM/dd/yyyy"), new { @class = "input-text" });
        <br />
        <label class="input-label">Is Baseline Metric</label>
        @Html.CheckBox("plan-metric-is-baseline", planMetric.IsBaseline, new { @class = "input-checkbox" });

        <div style="padding-top:15px;" />

        <input class="input-button" type="submit" value="Save" />
    }

    @using (Html.BeginForm("DeletePlanMetric", "Home", FormMethod.Post, new { @style = "display:inline;" }))
    {
        @Html.Hidden("plan-metric-id", planMetric.Id);
        <button class="input-button">Delete</button>
    }
    @using (Html.BeginForm("PlanMetrics", "Home", FormMethod.Get, new { @style = "display:inline;" }))
    {
        <button class="input-button">Cancel</button>
    }
</div>